:root {
	// https://coolors.co/palette/0466c8-0353a4-023e7d-002855-001845-001233-33415c-5c677d-7d8597-979dac
	--accent-1: #0080ff;
	--gray-1: #5c677d;
	--dark-1: #001233;
	--black-2: #000d24;
	--black-1: #000816;
	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-color: var(--black-1);
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: var(--black-1);
	color: var(--white);
}

section {
	padding: 50px 10%;
	overflow: hidden;
	scroll-margin-top: 100px;
}

a {
	color: var(--white);
	&.drawline {
		text-decoration: none;
		display: inline-block;
		&::after {
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background: var(--white);
			transition: width 0.3s;
		}
		&:hover::after {
			width: 100%;
			transition: width 0.3s;
		}
	}
}

h1 {
	font-size: 7rem;
	font-weight: 700;
	@media only screen and (max-width: 920px) {
		font-size: 5rem;
	}
}
h2 {
	font-size: 2rem;
	font-weight: 700;
	@media only screen and (max-width: 920px) {
		font-size: 1.5rem;
	}
}
h3 {
	font-size: 1.2rem;
	font-weight: 700;
}

// Slide in right, fade in
[data-scroll][data-scroll-type='right-fade'] {
	transition: 1s;
}
[data-scroll='in'][data-scroll-type='right-fade'] {
	opacity: 1;
	transform: translateX(0);
}
[data-scroll='out'][data-scroll-type='right-fade'] {
	opacity: 0;
	transform: translateX(-1000px);
}

// Slide in left, fade in
[data-scroll][data-scroll-type='left-fade'] {
	transition: 1s;
}
[data-scroll='in'][data-scroll-type='left-fade'] {
	opacity: 1;
	transform: translateX(0);
}
[data-scroll='out'][data-scroll-type='left-fade'] {
	opacity: 0;
	transform: translateX(1000px);
}

// Pop
[data-scroll][data-scroll-type='pop'] {
	transition: 1s;
}
[data-scroll='in'][data-scroll-type='pop'] {
	opacity: 1;
	transform: scale(1.1);
}
[data-scroll='out'][data-scroll-type='pop'] {
	opacity: 0;
	transform: scale(1);
}

// // Slide in top, fade in
// [data-scroll][data-scroll-type='3'] {
//   transition: 1s;
// }
// [data-scroll='in'][data-scroll-type='3'] {
//   opacity: 1;
//   transform: translateY(0);
// }
// [data-scroll='out'][data-scroll-type='3'] {
//   opacity: 0;
//   transform: translateY(-20px);
// }
